/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 12px; //all child elemts are using rem ,so when u change this all fonts will be relative to this
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
