.grid-container {
  height: 100%;
  padding: 10px;
  gap: 5px;
}
.grid-container > div {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

.grid-container .header {
  height: fit-content;
}
.grid-container .main-content {
  min-height: 80%;
}

.grid-container .footer {
  height: fit-content;
}

.sidenav-content{
  min-height: 600px !important;
}
