.error-block {
  color: red;
  font-size: 12px;
}
/* Style inputs, select elements and textareas */
.card-control > * {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button {
  background-color: #0069cc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.card-container {
  border-radius: 5px;
  padding: 20px;
  max-width: 45%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}
.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* Floating column for labels: 25% width */
.card-label {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.card-control {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.card-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .card-label,
  .card-control,
  button {
    width: 100%;
    margin-top: 6px;
  }
}
